.bracket{
   display: flex;
   width: 100%;
   margin: auto;
   padding: auto;
}

.single-round{
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.match{
   
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #555;
}